/* New Profile Page */

.container {
  width: 40%;
  margin: 10vh auto;
  font-family: Helvetica, sans-serif;
}

.profile-form {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: rgba(5, 5, 5, 0.507) 5px 5px 5px;
}

.profile-form input {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
}

.submit-btn {
  margin-top: 20px;
}

.submit-btn button {
  background: #2980b9;
  width: 100px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
}
